@{
    ViewData["Title"] = "Privacy Policy";
}

<h1> Files Uploaded to Azure: </h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Content Type</th>
            <th>File Extension</th>
            <th>Time of Upload</th>
            <th>Filepath on Azure</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in ViewBag.Files)
        {
        <tr>
            <td>@file.FileName</td>
            <td>@file.Size</td>
            <td>@file.ContentType</td>
            <td>@file.FileExtension</td>
            <td>@file.Time</td>
            <td>@file.FilePath</td>
        </tr>
        }
    </tbody>
</table>
