@{
    ViewData["Title"] = "View Files Uploaded";
}

<h1> Files Uploaded to Azure: </h1>

<table>
    <thead>
        <tr>
            <th width="200">Name</th>
            <th width="200">Size</th>
            <th width="200">Content Type</th>
            <th width="200">File Extension</th>
            <th width="200">Time of Upload</th>
            <th width="200">Filepath on Azure</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in ViewBag.Files)
        {
        <tr>
            <td>@file.FileName</td>
            <td>@file.Size</td>
            <td>@file.ContentType</td>
            <td>@file.FileExtension</td>
            <td>@file.Time</td>
            <td>@file.FilePath</td>
        </tr>
        }
    </tbody>
</table>
